<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Penn Labs Dining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>288403061F6ECB2900027A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2884031F1F6ECB2A00027A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2884032A1F6ECB2A00027A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
